<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            padding-top: 100px;
        }
    </style>
</head>
<body>
<form method="POST" id="post-form">
            <h1>&nbsp&nbsp Login Form</h1>
    {% csrf_token %}
    {{ form.as_p }}

   <input type="submit" value="login">


</form>


</body>
</html>